.border-terms{
    border-bottom: #f803d8 2px solid; 
}
.font{
    font-size: 19px;
}
.logo-terms{
    max-width: 80%;
    border: 0;
    padding-left: 4rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
}
