<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <img routerLink=" /tabs/home" src="../../../assets/img/horizontal_logo.png" class="img-header">
    <ion-buttons slot="end">
      <ion-avatar routerLink="/profile">
        <img  class="header-style" src="/assets/img/PROFILEPICTURE.png">
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row>
    <ion-col size="12" size-sm="12" size-md="3" size-lg="3"></ion-col>
    <ion-col size="12" size-sm="12" size-md="6" size-lg="6">
      <ion-card>
        <ion-list lines='full' class="border">
        <div *ngFor="let item of faqContent; let i = index">
          <ion-item (click)="showText(i)" >
        <ion-label >
          {{item.title}}
        </ion-label>
            <ion-icon slot="end" name="ios-arrow-up" *ngIf='item.state'></ion-icon>
            <ion-icon slot="end" name="ios-arrow-down" *ngIf='!item.state' ></ion-icon>
          </ion-item>  
          <div class="border-faq">
            <p *ngIf='item.state' class="font ion-padding" [innerHtml]="item.text"></p>
          </div>
        </div>
        </ion-list>
      </ion-card>
      <a routerLink="/terms" class="routertemporal"> delete me i have css too</a>
    </ion-col>
    <ion-col size="12" size-sm="12" size-md="3" size-lg="3"></ion-col>
      </ion-row>
    </ion-grid>
</ion-content>  

