h1.home{
    font-family: 'suissnordregular';
    size: 50px;
}

.img-home{
    width: 65%;
    height: auto; 
    display: block;
    margin: 0 auto;
}

.btn-home{
    display: block;
    margin: 0 auto;
}

ion-text.text-home{
    display: block;
    margin: 0 auto;
    size: 10px;
}
.space{
    padding-bottom: 4em;
    margin-bottom: 4em;
}

.redes{
    width: 65px;
    height: 65px;
    margin: 0 auto;
}

ion-col.centerObj{
display: flex;
justify-content: center;
}