<app-header titulo="BeautyLab Plans"></app-header>
<br>
<ion-content>
<!--   <iframe scrolling="yes" style="position:sticky; top:20px; left:0px; bottom:0px; right:0px; width:100%; height:100%; border:none; margin:0; padding:1em 0; overflow:hidden; z-index:0;" src="http://old.travelpayouts.com/widgets/0a549d7d65737569518aac55ca623554.html?v=1916"></iframe> -->


<ion-grid fixed>
  <ion-row>
    <ion-col size="12">
      <h2 class="ion-class-center text">Beauty Lab wants to offer you everything you need for you transformation</h2>
      <h3 class="ion-class-center text">Thinking about that we give you th option to find your flight</h3>
    </ion-col>
    <ion-col size="12">
      <ion-button expand="full" onclick="window.open('http://travelpayouts.com/widgets/0a549d7d65737569518aac55ca623554.html?v=1916','_blank', 'location=yes', 'enableViewportScale=yes','presentationstyle=fullscreen','zoom=yes',' hardwareback: yes', 'useWideViewPort: yes'); return false;" style="width: 100%;">Find your Flight</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
