ion-content{
    h2,h4{
        color:white;
    }
    ion-grid{
        padding-top: 4em;
       }
    }
.center{
    text-align: center;
}
.padding{
    padding: 1rem;
}

.logo-login{
    max-width: 80%;
    border: 0;
    padding-left: 4rem;
    padding-top: 4rem;
}
.icons-login{
    width:45px;
    height:45px;
    color: white;
}
.input-login{
    color:white;
    --background:#0b93f6;
    width: 100%;
    height: 46px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 10px;
    margin-bottom: 10px;
    --placeholder-color: white; 
    --placeholder-opacity: 80%;
    text-align: center;
}
.button-login{
    color:#0C94F7;
    --background: #E6E7E9 ;
    --background-activated: #d9d9db;
    border-radius: 40px;
    width: 100%;
    height: 50px;
    --color-hover:#f2f3f4;
}


    

