ion-card{
        border-radius: 0;
}
.padding-fix{
        padding: 0;
}
.height-fix{
        height: 65px;

}
.img-post{
        width: 550px;
        height: 350px;
}

.card-social{
        --background:white;
        margin-inline-end: -10px;
        margin-inline-start: -10px;
}
.social-name{ 
        position: relative;
        bottom: 20px;
        color:#292929;
        font-size: 20px;
}

.postage{
        color: #86898C;
        position: relative;
        bottom: 36px;
        font-size: 16px;
}
.icon-more{
        width: 28px;
        height: 28px;
        position: relative;
        top: 8px;
        right: 5px;
}
.tinytext{
        font-size: 15px;
}
.likeicon{
        width: 3em;
        height: 3em;
        display: flex;
        margin: 0 auto;
        padding-right: 6px;
      
}
.line-right{
        border-right:#DADADA 1px solid;
}
.avatar-social{
        width: 45px;
        height: 45px;
}
.likes{
        position: relative;
        font-size: 16px;
        bottom: 25px;
}
