<app-header></app-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-up" refreshingSpinner="circles">
        </ion-refresher-content>
    </ion-refresher>

    <ion-grid>
        <ion-row>
            <ion-col *ngFor="let post of cards; index as i;" size="12" size-sm="12" size-md="4" size-lg="4">
                <ion-card class="card-social">
                    <ion-card-header class="padding-fix">
                        <ion-grid class="height-fix">
                            <ion-row>
                                <ion-col size="2">
                                    <ion-avatar class="avatar-social">
                                        <img src="{{hero.getDomain()}}/file/profile/{{post.user.img_perfil}}">
                                    </ion-avatar>
                                </ion-col>

                                <ion-col size="9">
                                    <h2 class="social-name">{{post.user.nombres}}</h2>

                                    <h5 class="postage">Posted {{post.fecha}}</h5>
                                </ion-col>

                                <ion-col size="1">
                                    <ion-icon (click)="presentPopover($event)" class="icon-more" name="md-more">
                                    </ion-icon>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-header>

                    <ion-card-content class="padding-fix">
                        <ion-grid class="padding-fix">
                            <ion-row>
                                <ion-slides *ngIf="post.images.length > 1" pager="true" [options]="slideOpts">
                                    <ion-slide *ngFor="let image of post.images">
                                        <img [src]="hero.getDomain()+'/file/blog/'+image.imagen">
                                    </ion-slide>
                                </ion-slides>
                                <img *ngIf="post.images.length === 1"
                                    [src]="hero.getDomain()+'/file/blog/'+post.images[0].imagen">
                                <ion-col size="2">
                                    <img (click)="likeFocus(i)" class="likeicon" src="/assets/icon/like.svg"
                                        *ngIf="!post.liked">
                                    <img (click)="likeFocus(i)" class="likeicon" src="/assets/icon/likeFocus.svg"
                                        *ngIf="post.liked">
                                    <br>
                                    <h1 class="likes ion-text-center">{{post.likes_count}}</h1>
                                </ion-col>
                                <ion-col size="10">
                                    <h1 class="tinytext">
                                        {{post.descripcion}}</h1>
                                </ion-col>
                                <ion-col *ngIf="post.comments.length > 0" size="12" class="box-comm">
                                    <p *ngFor="let comm of post.comments"> <b>{{comm.user.nombres}}</b> {{comm.comentario}}</p>
                                </ion-col>
                                <ion-col size="12">
                                    <div>
                                        <ion-item class="line-up">
                                            <ion-input placeholder="Add Comment" [(ngModel)]="this.cards[i].comment"></ion-input>

                                            <ion-button fill="clear" expand="full">
                                                <ion-text color="primary-bl" slot="end" (click)="comment(i)">Comment</ion-text>
                                            </ion-button>
                                        </ion-item>
                                    </div>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button color="primary-bl">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button (click)="goToNewPost('gallery')" color="primary">
                <ion-icon class="icon-c-g" name="images"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="goToNewPost('camera')" color="primary">
                <ion-icon class="icon-c-g" name="camera"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</ion-content>