<ion-menu side="start" menuId="first" contentId="main" color="light">
  <ion-content>
    <div class="user-info">
      <ion-grid>
        <ion-row>
          <ion-col class="content-user" size="12">
            <img class="center img-user" src="assets/img/PROFILEPICTURE.png">
            <h4 class="margins">A n d r e s </h4>
            <h6 class="margins link">https://beautylab.com.co</h6>
            <p class="bl-points">
              B L P o i n t s  <br>
              100
            </p>
            <img class="center bl-logo" src="assets/logoBL/whiteLogoV.png" alt="">
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <ion-list>
      <ion-menu-toggle *ngFor="let c of componentes | async"> 
        <ion-item [routerLink]="c.redirectTo" (click)="logout(c.name)">
        <ion-icon slot="start" [name]="c.icon"></ion-icon>
        <ion-label class="font">{{c.name}}</ion-label>
        </ion-item> 
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
