<app-header titulo="BeautyLab HomeApp"></app-header>

<ion-content class="background-bl ion-padding">
    <ion-slides style="padding-bottom: 30px" pager="true" [options]="slideOpts">
        <ion-slide>
            <img (click)="watch('Ldi5QLHKm_U')" class="img-hd" src="assets/img/pyp/minvid.png" alt="picture">
        </ion-slide>
        <ion-slide>
            <img class="img-hd" src="assets/img/confidence.png" alt="picture">
        </ion-slide>
    </ion-slides>
    
    <h3 class="ion-text-center">P L A N S</h3>
    <ion-slides style="padding-bottom: 24px" pager="true" [options]="slideOpts" class="pos-btn-slides-2">
        <ion-slide *ngFor="let item of plans">
            <img src="assets/img/pyp/{{item}}" class="img-plan"  alt="picture" routerLink="/plans">
        </ion-slide>
    </ion-slides>
    <h3 class="ion-text-center">P R O C E D U R E S</h3>
    <!-- <ion-slides pager="true" [options]="slideOpts"> -->
    <ion-grid fixed class="center">
        <ion-row>
           <ion-col *ngFor="let img of proc" size="4" size-md="4" size-lg="4">
               <img src="assets/img/pyp/{{img}}" class="img-service center" alt="service" routerLink="/procedures">
           </ion-col>
         </ion-row>
    </ion-grid>
    <!-- </ion-slides> -->
    <h3 class="ion-text-center">T O U R I S T I C  P L A N S</h3>
    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let item of touristic" class="pos-btn-slides" >
            <ion-grid>
                <ion-row>
                    <ion-col style="padding-bottom: 15px" size="4" *ngFor="let tur of item.items" >
                        <img src="assets/img/TOURISTICPLAN{{tur}}.png"alt="service">
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
    </ion-slides>
</ion-content>