ion-content{
    --color:#fff;
}
ion-slides{
    --bullet-background:grey;
    --bullet-background-active:#FFF;
}
h3{
    margin: 0.3rem;
    font-family: 'suissnordregular';
}
.padding{
    padding: 1.5rem;
}
.img-hd{
    height: 200px;
}
.img-service{
    height: 80px;
}
.pos-btn-slides{
    padding-bottom: 0.9rem;
}
.pos-btn-slides-2{
    padding-bottom: 1.4rem;
}