ion-content{
    --color:#fff;
}
ion-slides{
    --bullet-background:grey;
    --bullet-background-active:#FFF;
}
.padding{
    padding: 1.5rem;
}
.img-hd{
    height: 200px;
}
.img-service{
    height: 80px;
}