ion-calendar{
    background: transparent;
    // border: aliceblue 2px solid;
    border-radius: 49px;
}
img.plans{
    border-radius: 1.5rem;
    margin: 0 auto;
    width: 100%;
}

h1.home{
    font-family: 'suissnordregular';
    size: 50px;
}

.textCss{
    font-family: 'advent_promedium';
    size: 40px;
}

.txtdescription{
    font-family: 'advent_promedium';
    size: 28px;
}

.img-header{
    width: 50% !important;
}