img.plans{
    border-radius: 1.5rem;
    margin: 0 auto;
    display: flex;
    width: 70%;
}

h1.home{
    margin-top: 0;
    text-align: center;
    color: aliceblue;
    font-size: 35px;
    font-family: "bioliquidregular";
}
h1.title{
    font-family: 'bioliquidregular';
    size: 50px;
    margin-top: 0;
}

.textCss{
    font-family: 'advent_promedium';
    size: 40px;
}

.txtdescription{
    font-family: 'advent_promedium';
    size: 28px;
}

.img-header{
    width: 50% !important;
}

.steps{
    cursor: pointer;
    color: aliceblue;
}
.r{
    text-align: end;
}