<app-header titulo="BeautyLab Rooms"></app-header>


<ion-content>
    <ion-grid fixed>
        <ion-row>
            <ion-col *ngFor="let producto of products">
                <ion-card>
                    <img [src]="producto.image.src"/>
                    <ion-card-content>
                        <ion-card-title>
                            {{ producto.title }}
                        </ion-card-title>
                        <p>
                            {{ producto.product_type }}
                        </p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
