h1{
        font-family: 'bioliquidregular';
        font-size:33px;
        color:aliceblue;
        text-align: center ;
        padding-top: 2rem;
       }


       .txt{
               color:#fff;
               font-size: 20px;
       }