<ion-card color="light">
  <ion-card-content class="ion-text-center">
    <img [src]="srcImg" *ngIf="srcImg" alt="">
    <ion-icon name="camera" (click)="photoPic()" *ngIf="!srcImg" class="icon-camera color"></ion-icon>
    <p class="color" (click)="photoPic()" *ngIf="!srcImg">Camera</p>
  </ion-card-content>
  <ion-grid class="grid-photos">
    <ion-row>
      <ion-col class="padding-img" *ngFor="let item of images" size="6" size-md="4" size-lg="4">
        <img src="assets/img/{{item}}" alt="">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>


<!-- This data is for the posts -->


<!-- <ion-card color="light" *ngFor="let item of posts" >
  <img src="./../../../assets/img/{{item.image}}" />
  <ion-card-header>
    <ion-card-subtitle>{{item.date}}</ion-card-subtitle>
    <ion-card-title>{{item.title}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    {{item.text}}
  </ion-card-content>
</ion-card> -->
