h1.home{
    font-family: 'suissnordregular';
    size: 50px;
}

.textCss{
    font-family: 'bioliquidregular';
    size: 40px;
}

.txtProc{
    font-family: 'suissnordregular';
}

.plans{
    border-radius: 1.4rem;;
}