<ion-content>
  <img src="{{hero.getDomain()}}/file/{{imagenes}}">
  
  <p class="room-modaltxt">The finishes, the refined design, the Déco style furniture, bring elegance and luxury to our Déco Deluxe Rooms, starting from the generous size, much larger than the standard rooms and the bathroom with bath and/or shower, where star light marble reigns.
  
      You can immerse yourself in an environment of precious materials and refined details, accompanied by exclusive services, such as the completely free non-alcoholic drinks in the mini-bar.</p>
  <ion-button expand="full" (click)="closeMd()"> Close </ion-button>
  
  </ion-content>
