*{
    color: aliceblue;
    text-align: center;
}
h3{
    font-size: 23px;
}
.p-1{
    font-size: 18px;
}

.center-page{
    position: relative;
    top: 10rem;
}
.btn-home{
    position: relative;
    top: 30px;
    height: 46px;
}