<div class="center-page">
  <h3>Successful Purchase! <span><img src="../../../assets/icon/Success.svg"></span></h3> 
  <p class="p-1">Thank you for your purchase, we will send you an email with all the information you should keep in mind</p>
  <p class="p-1">If you do not receive any email click <a routerLink="">here</a> to resend, or <a routerLink="/contact">Contact us</a></p>

    <ion-button class="btn-home" expand="block" routerLink="/tabs/home" color="light">
      GO BACK HOME
    </ion-button>

    <ion-button class="btn-home" expand="block" routerLink="/trips" color="primary">
      You Want Buy Your Fly!! Click Here
    </ion-button>
</div>
