<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Back" defaultHref="/homeadmin"></ion-back-button>
    </ion-buttons>

    <ion-title>List of Reservations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
<ion-list>
  <ion-list-header>
    Reservations
  </ion-list-header>

  <ion-item>
    <ion-avatar slot="start">
      <img src="./../../../assets/img/PROFILEPICTURE.png">
    </ion-avatar>
    <ion-label>
      <h2>Emily Rose</h2>
      <h3>Super Model Plan</h3>
      <p>Date: 2020-05-10</p>
      <ion-button color="dark">Details</ion-button>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="./../../../assets/img/PROFILEPICTURE.png">
    </ion-avatar>
    <ion-label>
      <h2>Carla Rose</h2>
      <h3>Booty Plan</h3>
      <p>Date: 2020-06-10</p>
      <ion-button color="dark">Details</ion-button>
    </ion-label>
  </ion-item>
</ion-list>


</ion-content>
