.profile-img{
    height: 50%;
    width: 25%;
}
.content-img{
    padding-top: 0.5rem;
    height: 100%;
}
.logo-img{
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ion-label {
        color: white;
    }
