ion-content {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ion-label {
        color: white;
    }
}
.img-logo{
    padding-top: 0.2rem;
    width: 18%;
}
.img-room{
    height: 100px;
}
.center{
    text-align: center;
}