<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="0" size-sm="0" size-md="4" size-lg="4"></ion-col>
      <ion-col size="12" size-sm="12" size-md="4" size-lg="4">
        <ion-row>
        <ion-col size="12">
          <img src="../../../assets/logoBL/whiteLogoH.png" class="img-logo">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input class="input-register" placeholder="Names">
              
          </ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input class="input-register" placeholder="Surnames">
          </ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input class="input-register" placeholder="Phone Number"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input class="input-register" placeholder="Email">

          </ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input class="input-register" type="password" placeholder="Password"> 
          </ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input class="input-register" type="password" placeholder="Retype Password">
          </ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input class="input-register" placeholder="Speciality"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-input style="font-size: 13px "class="input-register" type="number" placeholder="Experience Years">
          </ion-input>
        </ion-col>
        <ion-col size="6">
          <ion-input class="input-register" placeholder="Clinic"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button class="btn-register">
            <ion-text> Register </ion-text>
          </ion-button>
        </ion-col>
      </ion-row>
      </ion-col>  
      <ion-col size="0" size-sm="0" size-md="4" size-lg="4"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

