<!-- <app-header titulo="BeautyLab Plans">
</app-header> -->

<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <img routerLink="/tabs/home" src="../../../assets/img/horizontal_logo.png" class="img-header">
    <ion-buttons slot="end">
      <ion-avatar routerLink="/profile">
        <img class="header-style" src="/assets/img/PROFILEPICTURE.png">
      </ion-avatar>

    </ion-buttons>
  </ion-toolbar>
</ion-header> -->
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="0" size-sm="0" size-md="3" size-lg="4"></ion-col>
      <ion-col size="12" size-sm="12" size-md="6" size-lg="4">
        <div>
          <ion-text color="light">
            <h1 class="ion-text-center home">{{plans.nombre}}</h1>
          </ion-text>
        </div>

        <img class="plans" src="assets/img/pyp/{{plans.img_plan}}" alt="" srcset="">

        <br>
        <ion-text color="light">
          <h2 class="ion-text-center txtdescription">Description Plan: <br> {{plans.descripcion}}</h2>
        </ion-text>
        <br>
        <ion-text color="light">
          <h1 class="ion-text-center title">
            Schedule Appointment
          </h1>
        </ion-text>
        <ion-calendar [(ngModel)]="data" [type]="type" [format]="'YYYY-MM-DD'">
        </ion-calendar>


        <ion-row>
          <ion-col size="6">
            <h6 class="steps" routerDirection = "back" >Back</h6>
          </ion-col>
          <ion-col size="6">
            <h6 class="steps r" (click)="nextStep()">Next</h6>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="0" size-sm="0" size-md="3" size-lg="4"></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>