<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button slot="start"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="0" size-sm="0" size-md="3" size-lg="4"></ion-col>
      <ion-col size="12" size-sm="12" size-md="6" size-lg="4">
        <div>
          <img class="img-logo" src="assets/logoBL/whiteLogoH.png" alt="" routerLink="/tabs/home">
        </div>
        <h3 class="ion-text-center">B u y N o w</h3>
        <img class="img-depos" src="assets/img/pyp/{{plans.img_plan}}" alt="" srcset="">
        <p></p>

          <ion-grid fixed *ngIf="this.hero.dataPurchase.plans.length > 0" >
            <ion-row>
              <ion-col size="12" size-lg="6" size-md="4" size-xl="6" >
                <ion-text color="light">
                  <h3 class="ion-text-center textCss"> D e t a i l s  P l a n</h3>
                </ion-text>
              </ion-col>
              <ion-col size="6" size-lg="3" size-md="4" size-xl="3" class="grid-border">
                <ion-text color="light">
                  <p class="head txtdescription">Plan</p>
                </ion-text>
              </ion-col>
              <ion-col size="6" size-lg="3" size-md="4" size-xl="3" class="grid-border">
                <ion-text color="light">
                  <p class="head txtdescription">Description</p>
                </ion-text>
              </ion-col>
            </ion-row>
            <ion-row *ngFor="let item of this.hero.dataPurchase.plans">
              <ion-col size="6" size-lg="3" size-md="4" size-xl="3">
                <ion-text color="light">
                  <p class="txtdescription">{{item.nombre}}</p>
                </ion-text>
              </ion-col>
              <ion-col size="6" size-lg="3" size-md="4" size-xl="3">
                <ion-text color="light">
                  <p class="txtdescription">{{item.descripcion}}</p>
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        <ion-grid fixed *ngIf="this.hero.dataPurchase.procedures.length > 0">
          <ion-row>
            <ion-col size="12" size-lg="6" size-md="4" size-xl="6">
              <ion-text color="light">
                <h3 class="ion-text-center textCss">Details Procedure</h3>
              </ion-text>
            </ion-col>
            <ion-col size="6" size-lg="3" size-md="4" size-xl="3" class="grid-border">
              <ion-text color="light">
                <p class="head txtdescription">Procedure</p>
              </ion-text>
            </ion-col>
            <ion-col size="6" size-lg="3" size-md="4" size-xl="3" class="grid-border">
              <ion-text color="light">
                <p class="head txtdescription">Description</p>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row *ngFor="let item of this.hero.dataPurchase.procedures">
            <ion-col size="6" size-lg="3" size-md="4" size-xl="3">
              <ion-text color="light">
                <p class="txtdescription">{{item.nombre}}</p>
              </ion-text>
            </ion-col>
            <ion-col size="6" size-lg="3" size-md="4" size-xl="3">
              <ion-text color="light">
                <p class="txtdescription">{{item.descripcion}}</p>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="12" size-lg="6" size-md="4" size-xl="6" >
              <ion-text color="light">
                <h3 class="ion-text-center textCss">Details Room</h3>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6" size-lg="3" size-md="4" size-xl="3" >
              <ion-text color="light">
                <p class="txtdescription">Room:</p>
              </ion-text>
            </ion-col>
            <ion-col size="6" size-lg="3" size-md="4" size-xl="3">
              <ion-text color="light">
                <p class="txtdescription">{{room.nombre}}</p>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6" size-lg="3" size-md="4" size-xl="3">
              <ion-text color="light">
                <p class="txtdescription">Confort:</p>
              </ion-text>
            </ion-col>
            <ion-col size="6" size-lg="3" size-md="4" size-xl="3">
              <ion-text color="light">
                <p class="txtdescription">{{room.comodidades}}</p>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
        <h4 class="ion-text-center">$500 USD</h4>
        <ion-button expand="block" class="button-pay" (click)="payWithPaypal()">Make Deposit</ion-button>
        <!-- <p class="ion-text-center dec" routerLink="/terms">Terms and conditions</p> -->
      </ion-col>
      <ion-col size="0" size-sm="0" size-md="3" size-lg="4"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>