<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" (click)="setValue(1)">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    
    <ion-tab-button tab="social" (click)="setValue(1)">
      <ion-icon name="globe"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="car-shop" (click)="setValue(1)">
      <ion-icon name="cart"></ion-icon>
      <ion-badge *ngIf="hero.shoppingcart.length > 0" color="danger">{{hero.shoppingcart.length}}</ion-badge>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
 
