.img-logo{
    width: 60%;
    margin: 0 auto;
    display: block;
}
.form-title{
    color:gray;
    font-size: 15px;
}
.title-input{
    position: relative;
    text-indent: 1rem;
    font-size: 16px;
}
.title-check{
    font-size: 15px;
}
.btn-save{
    width: 174px;
    display: block;
    position: relative;
    margin: auto;
    bottom: 26px;
}

.grid-qst{
    padding-bottom: 3rem;
    padding-top: 2rem;
}   
.grid-input{
    padding-bottom: 3rem;
    padding-top: 2rem;  
}