.input-contact{
    color: #000;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 10px;    

}


.input-contact2{
    color: #000;
    width: 45%;
    height: 45%;
    border-radius: 10px;
    margin-bottom: 10px;    

}

ion-select{
    width: 45%; 
    text-align: center;
}

.title-contact{
    font-family: 'advent_promedium';
    color:#000;
    size:50px;
}

*{
    --background:#fff;
}

.txt-label{
    size:1.5rem;
}
.btn-style{
    padding-top: 4rem;
}

.img-admin{
    width: 75%;
    margin: 0 auto;
}