
.icon-style{
   width:30px;
   height: 30px;
   padding-bottom: 3rem;
}
.logo-style{
    width: auto !important;
}
ion-item{
    font-family: 'bioliquidregular';
    color: aliceblue;
    --background:transparent;
}
ion-list{
    background-color: transparent;
}
.title{
    padding-top: 5px;
}