img.plans{
    border-radius: 1em;
    margin: 0 auto;
    width: 100%;
    border: solid #fff 0.1em;
    padding: 0.3em;
}

h1.home{
    font-family: 'suissnordregular';
    size: 50px;
}

.textCss{
    font-family: sans-serif;
    size: 40px;
}